body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  background: white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #0077AB; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#theaLogo {
  width: 50px;
}

Label{
  color: white;
}

#dropdown-basic {
  color: #fff;
  background-color: #0077AB;
  border-color:#0077AB;
  box-shadow: none !important;

}

#badge {
  color: #fff;
  background-color: #F3AF0F;
  border: 1px solid #EB3F38;
}


 /* For the form and visualization */
#MainPageContent{
  background-color: #173B65; 
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  align-content: center;
  flex-wrap: wrap;
}

#viz {
  height:700px;
  border: 5px solid #EB3F38;
  font: 22pt arial;
  background-color: white;
  flex-shrink: 0;
}

#divider {
  padding-top: 30px;
  flex-grow: 1;
  border-bottom: 3px solid #F3AF0F;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

/* Doesn't actually do anything */
#Form{
  display: flex;
  align-items: flex-start; 
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: column;
}

#row{
  padding-top: 20px;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#row2-box{
  padding-top: 20px;
  display: flex;
  align-items: flex-start; 
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}


#sliderDiv{
  flex-grow:0;
  color: #fff;
}

#label{
  padding-top: 10px;
  padding-right: 15px;
  font-size: 20px;
}

.badges{
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 200px;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#countryForm{
  display: flex;
  flex-grow: 0;
  box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.57);
  border-radius: 15px 15px 15px 15px;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #EB3F38;

}


.dropdown-menu {
  max-width:400px;
  max-height:200px;
  /* overflow: scroll; */
  overflow-x: hidden;
  
}


.dropdown-item {
  overflow: hidden;
  padding-inline-start: 0px;
}

ul{
  padding-inline-start: 30px;
}

.controllerButton{
  background-color: #EB3F38 !important;
  border-color: #EB3F38 !important;
  box-shadow: none !important;
}

.controllerButton.active{
  background-color: #F3AF0F !important;
  border-color: #F3AF0F !important;
  box-shadow: none !important;
}

.form-control{
  box-shadow: none !important;
}

#labelAndDropdown{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
}



#timeSeriesSlider{
  display: flex;
  /* flex-grow: 0; */
  box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.57);
  border-radius: 15px 15px 15px 15px;
  justify-content: center; 
  background-color: #EB3F38;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#mapContainer{
  display: flex;
  justify-content: center;
}

#row2row1{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
}

#formItem{
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.57);
  border-radius: 15px 15px 15px 15px;
  justify-content: space-evenly;
  background-color: #EB3F38;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}


#submitButton{
  background-color: #0077ab;
  margin-top: 10px;
  border-color:#0077AB;
  box-shadow: none !important;
}


#customQueryItem{
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.57);
  border-radius: 15px 15px 15px 15px;
  justify-content: space-evenly;
  background-color: #F3AF0F;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}




#loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 50%;
  z-index: 1000;
}